{% extends 'base.html.twig' %}

{% block body %}
    <div class="container bloc">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <h2>Votre service est accessible sur tous les appreils !</h2>
                <p>Eleves, accédez à votre dossier de conduite à tout moment sur votre smartphone.</p>
                <p>Moniteurs, évaluez vos élèves depuis une tablette ou un smartphone !</p>
            </div>
            <div class="col-lg-6">
                <img class="img-responsive" src="{{ asset('img/responsive-design-devices.jpg') }}"/>
            </div>
        </div>
    </div>

    <div class="grey bloc">
        <div class="container testimony">
            <div class="col-lg-12">
                <h2>Témoignages</h2>

                <div class="col-lg-3">
                    <p>"Drivngo est très pratique pour la gestion générale."</p>
                    <p class="signature">Gérard, gérant dans le Var</p>
                </div>
                <div class="col-lg-3">
                    <p>"Magnifique l'accès à la courbe de progression !"</p>
                    <p class="signature">Jeanne, élève sur Paris</p>
                </div>
                <div class="col-lg-3">
                    <p>"Une gestion simplifiée qui facilite la vie !"</p>
                    <p class="signature">Ali, Gérant en Ile De France</p>
                </div>
                <div class="col-lg-3">
                    <p>"L'auto-école est décrite de A à Z et cela m'a facilité le choix !"</p>
                    <p class="signature">Jean, élève à Thiais</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container bloc">
        <div class="col-lg-12">
            
        </div>
    </div>
{% endblock %}
